@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --min-width: 335px;
  --min-wide-width: 350px;
  --max-width: 1400px;
  --max-wide-width: 1600px;

  --clr-white: #fff;
  /* white 12% */
  --clr-yellow: #F9B800;
  --clr-blue: #0052B4;
  --clr-purple: #9747FF;
  --clr-red: #D80027;
  --clr-black: #262626;
  /* black 80%, 12% */
  --clr-grey: #787878;
  --clr-light-yellow-0: #FFF1C9;
  --clr-light-yellow-1: #FEEDBC;
  --clr-light-yellow-2: #FFE18B;
  --clr-light-yellow-3: #D3B970;
  --clr-light-yellow-4: #FFBB45;

  --bg-yellow: #FEEDBC;
  --bg-white: #FFFAEB;
  --bg-shade: #FFF6DA;

  --size-mobile-heading-1: 2.25rem;
  --size-mobile-heading-2: 1.5rem;
  --size-mobile-heading-5: 1rem;

  --size-web-base: 1.125rem;
  --size-web-large: 1.25rem;
  --size-web-button: 1.5rem;
  --size-web-heading-1: 5rem;
  --size-web-heading-2: 4.5rem;
  --size-web-heading-3: 3.75rem;
  --size-web-heading-4: 3.125rem;
  --size-web-heading-5: 1.875rem;
  --size-web-heading-6: 1.25rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box
}

* {
  margin: 0
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%
}

:where(input, button, textarea, select) {
  font: inherit
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word
}

:where(#root, #__next) {
  isolation: isolate
}

/* common */
body {
  background-color: var(--bg-yellow);
  font-family: system-ui, sans-serif;
  color: var(--clr-black);
  font-weight: 500;
}

h1 {
  font-size: var(--size-mobile-heading-1);
}

h2 {
  font-size: var(--size-mobile-heading-2);
}

h5 {
  font-size: var(--size-mobile-heading-5);
}

.wrapper,
.wide-wrapper {
  padding: 0 1rem;
  margin: 0 auto;
}

.wrapper {
  min-width: var(--min-width);
  max-width: var(--max-width);
}

.wide-wrapper {
  min-width: var(--min-wide-width);
  max-width: var(--max-wide-width);
}

/* header */
header {
  margin: 0.5rem 1rem;
}

header div {
  background-color: var(--clr-white);
  border-radius: 999rem;
  height: 4.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country {
  display: flex;
  gap: 0.8rem;
}

/* hero */
.hero h5 {
  text-transform: uppercase;
  color: var(--clr-yellow);
}

.check-point {
  background-color: var(--clr-white);
  border-radius: 999rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.check-point img {
  display: inline;
}

.check-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  margin: 2rem 0;
}

.cta {
  background-color: var(--clr-yellow);
  border-radius: 999rem;
  display: flex;
  padding: 1rem 3rem;
  margin: 3rem 0;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
}