@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --min-width: 335px;
  --min-wide-width: 350px;
  --max-width: 1400px;
  --max-wide-width: 1600px;

  --clr-white: #fff;
  /* white 12% */
  --clr-yellow: #F9B800;
  --clr-blue: #0052B4;
  --clr-purple: #9747FF;
  --clr-red: #D80027;
  --clr-black: #262626;
  /* black 80%, 12% */
  --clr-grey: #787878;
  --clr-light-yellow-0: #FFF1C9;
  --clr-light-yellow-1: #FEEDBC;
  --clr-light-yellow-2: #FFE18B;
  --clr-light-yellow-3: #D3B970;
  --clr-light-yellow-4: #FFBB45;

  --bg-yellow: #FEEDBC;
  --bg-white: #FFFAEB;
  --bg-shade: #FFF6DA;

  --size-mobile-heading-1: 2.25rem;
  --size-mobile-heading-2: 1.5rem;
  --size-mobile-heading-5: 1rem;

  --size-web-base: 1.125rem;
  --size-web-large: 1.25rem;
  --size-web-button: 1.5rem;
  --size-web-heading-1: 5rem;
  --size-web-heading-2: 4.5rem;
  --size-web-heading-3: 3.75rem;
  --size-web-heading-4: 3.125rem;
  --size-web-heading-5: 1.875rem;
  --size-web-heading-6: 1.25rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box
}

* {
  margin: 0
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%
}

:where(input, button, textarea, select) {
  font: inherit
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word
}

:where(#root, #__next) {
  isolation: isolate
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

/* common */
body {
  background-color: var(--bg-yellow);
  font-family: system-ui, sans-serif;
  color: var(--clr-black);
  font-weight: 500;
}

h1 {
  font-size: var(--size-mobile-heading-1);
}

h2 {
  font-size: var(--size-mobile-heading-2);
}

h5 {
  font-size: var(--size-mobile-heading-5);
}

.wrapper,
.wide-wrapper {
  padding: 0 1rem;
  margin: 0 auto;
}

.wrapper {
  min-width: var(--min-width);
  max-width: var(--max-width);
}

.wide-wrapper {
  min-width: var(--min-wide-width);
  max-width: var(--max-wide-width);
}

@media (min-width: 1600px) {
  body {
    font-size: var(--size-web-base);
  }

  h1 {
    font-size: var(--size-web-heading-1);
  }

  h2 {
    font-size: var(--size-web-heading-2);
  }

  h5 {
    font-size: var(--size-web-heading-5);
  }

  .cta-section h2 {
    font-size: var(--size-web-heading-5)
  }

  .cta-section .wrapper {
    padding-top: 5rem;
  }
}

/* header */
header {
  margin: 0.5rem 1rem;
}

header .wide-wrapper {
  background-color: var(--clr-white);
  border-radius: 999rem;
  height: 4.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  background-color: var(--clr-white);
  border-radius: 1rem;
  margin-top: 10rem;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  visibility: hidden;
  opacity: 0;
}

.country-option {
  display: flex;
  align-items: center;
  gap: .8rem;
  text-decoration: none;
  width: 80px;
}

.country-option img {
  width: 32px;
}

.country-option span {
  color: var(--clr-black);
  font-weight: 500;
  font-size: .8rem;
}

.show {
  visibility: visible;
  opacity: 1;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s ease;
}

@media (min-width: 1024px) {
  header .wide-wrapper:before {
    content: "";
    flex: 1;
  }

  .logo {
    flex: 1;
  }

  .logo img {
    margin: 0 auto;
  }

  .country {
    flex: 1;
    justify-content: flex-end;
  }
}

/* hero */
.wrapper>img {
  fill: cover;
  margin: 0 auto;
}

.hero {
  padding-bottom: 14rem;
}

.hero h5 {
  text-transform: uppercase;
  color: var(--clr-yellow);
}

.cursor {
  border-left: .2rem solid #000;
  animation: blink 1.5s infinite;
  margin-left: .2rem;
  height: var(--size-web-heading-2);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.check-point {
  background-color: var(--clr-white);
  border-radius: 999rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.check-point img {
  display: inline;
}

.check-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 2rem 0;
}

.cta {
  background-color: var(--clr-yellow);
  border-radius: 999rem;
  display: flex;
  padding: 1rem 3rem;
  margin: 3rem 0;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
}

.cta img {
  filter: invert(99%) sepia(67%) saturate(0%) hue-rotate(119deg) brightness(113%) contrast(100%);
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 3rem;
  }

  .hero .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero .wrapper .main-desc {
    width: 50%;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
  }

  .hero .main-img {
    width: 50%;
  }

  .check-points {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .cta {
    gap: 4rem;
    margin: 0;
    display: inline-flex;
  }
}

/* service-description-1 */
.skewd {
  transform: skew(0deg, -10deg) translateY(-150px);
  padding: 6rem 0;
}

.service-description-1 {
  background-color: var(--clr-yellow);
}

.content {
  transform: skew(0deg, 10deg);
}

.content h2 {
  font-size: var(--size-mobile-heading-1);
}

.content p {
  font-size: 1.25rem;
  font-weight: 400;
}

.service-description-1 p:first-of-type {
  text-decoration: underline;
  font-weight: 500;
}

.dark {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.dark img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(3%) saturate(1046%) hue-rotate(13deg) brightness(105%) contrast(102%);
}

@media (min-width: 1024px) {
  .service-description-1 .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 4rem;
  }

  .service-description-1 .wrapper .main-desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .service-description-1 .main-desc div {
    margin: 1rem 0;
  }

  .service-description-1 .main-img {
    width: 50%;
  }
}

/* service-description-2 */
.service-description-2 {
  padding-top: 8rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.service-description-2 p:first-child {
  color: var(--clr-yellow);
}

.service-description-2 h2 {
  margin-top: 1.5rem;
}

.white {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.white img {
  filter: invert(99%) sepia(67%) saturate(0%) hue-rotate(119deg) brightness(113%) contrast(100%);
}

.stage {
  background-color: var(--clr-white);
  border-radius: 3rem;
  color: var(--clr-black);
  margin-bottom: 2rem;
  padding: 3rem;
}

.yellow {
  background-color: var(--clr-yellow);
}

.stage-number {
  display: block;
  margin-top: 2rem;
  font-size: 3.5rem;
  font-weight: 800;
}

.stage-number span:first-child {
  color: var(--clr-yellow);
}

.stage-yellow .stage-number span:first-child {
  color: var(--clr-white);
}

.stage p {
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .cta {
    margin-top: 2rem;
  }

  .service-description-2 .wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }

  .service-description-2 .main-desc {
    width: 50%;
  }

  .service-description-2 .stage-section {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
  }

  .stage {
    margin: 0;
    width: 46%;
    height: 25rem;
  }

  .stage-section div:nth-child(2) {
    margin-top: 5rem;
  }

  .stage-section div:nth-child(3) {
    margin-top: -3rem;
    background-color: var(--clr-yellow);
  }

  .stage-section div:nth-child(4) {
    margin-top: 2rem;
    background-color: var(--clr-white);
  }
}

/* customer-feedback */
.customer-feedback {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.customer-feedback img {
  margin: 0 auto;
}

.feedback-content {
  background-color: var(--clr-white);
  border-radius: 3rem;
  padding: 3rem 2rem;
  text-align: center;
}

.feedback-content p {
  padding: 1rem 0;
}

.feedback-content img {
  padding: 2rem;
}

.feedback-content span {
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
}

.slide {
  width: 15rem;
  margin: 0 auto;
  overflow: hidden;
}

.feedbacks {
  display: flex;
  transition: transform 0.5s;
}

.feedback {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15rem;
}

@media(min-width: 480px) {
  .slide {
    width: 20rem;
  }

  .feedback {
    flex-basis: 20rem;
  }
}

@media (min-width: 768px) {
  .slide {
    width: 30rem;
  }

  .feedback {
    flex-basis: 30rem;
  }
}

@media (min-width: 1024px) {
  .slide {
    width: 50rem;
  }

  .feedback {
    flex-basis: 50rem;
  }
}

/* service-description-3 */
.service-description-3 {
  padding-top: 5rem;
  background-color: var(--clr-yellow);
  color: var(--clr-black);
}

@media (min-width: 1024px) {
  .service-description-3 .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 2rem;
  }

  .service-description-3 .wrapper .main-desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .service-description-3 .main-img {
    width: 50%;
  }
}

/* service-description-4 */
.service-description-4 {
  padding-top: 5rem;
  background-color: var(--clr-black);
}

.service-description-4 h2,
.service-description-4 h5 {
  color: var(--clr-white);
  text-align: center;
}

.description-detail {
  background-color: var(--clr-white);
  border-radius: 2rem;
  color: var(--clr-black);
  margin: 2rem 0;
  padding: 2rem;
}

.detail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-content {
  margin-top: .5rem;
}

.hidden {
  display: none;
}

/* cta-section */
.cta-section .wrapper {
  margin-top: -3rem;
}

@media (min-width:1024px) {
  .service-description-4 h5 {
    font-size: var(--size-web-base);
    font-weight: 400;
  }

  .service-description-4 .wrapper {
    margin-bottom: 5rem;
  }
}

@media (min-width:1024px) {
  .cta-section .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cta-section h2 {
    width: 50%;
  }

  .cta-section .cta {
    margin: 0;
  }
}

/* footer */
hr {
  border: 0;
  height: 0;
  border-top: 0.5px solid var(--clr-black);
  margin-bottom: 2rem;
}

footer {
  margin-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: var(--clr-black);
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width:1024px) {
  .cta-section .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cta-section h2 {
    width: 50%;
  }

  .cta-section .cta {
    margin: 0;
  }
}